@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1EC6B6;
  --second-color: #FF4A52;
  --text-secondary-color: #cccc;
}

*{
  --font-family: 'Roboto','Helvetica Neue',Arial,Verdana,sans-serif;
  --text-primary: rgb(19, 142, 173);
  --header-primary-bg: 
    linear-gradient(45deg, #6f86d6, #89f7fe)
}
body {
    font-family: var(--font-family);
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
    font-size: 14px;
}
.text-primary{
  color: var(--primary-color);
}
.text-secondary {
  color: var(--text-secondary-color)
}
.text-third{
  color: #8D9199;
}
.bg-header{
  background-color: #2BABE2;
}

.text-gradient {
  background-image: radial-gradient(at 4% 36%, rgb(14, 13, 13) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.focus-input-none:focus{
  box-shadow: none !important;
}

.item-card{
  background-color:#fff;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.1);
  overflow: visible;
  border: 1px solid transparent;
}
.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: transparent;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.btn-category.active {
  background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6  100%);
  text-align: center;
  transition: 0.5s;
  color: rgb(59, 32, 32);            
  box-shadow: 0 0 10px #eee;
  display: flex;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: fadeIn ease 1s;
}
@keyframes fadeIn{
  from{
    opacity: 0.7;
  }
  to{
    opacity: 1;
  }
}

.btn-category.active:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.dropdown-hover:hover .dropdown-menu{
  display: block;
}
.dropdown-sub:hover .dropdown-submenu{
  display: block;
}

.scroll-active{
  animation: fadeInUp ease 0.8s;
}
.scroll-fadeOut{
animation: fadeOutBottom ease 0.8s;
}

@keyframes fadeInUp {
        from{
                opacity: 0;
                transform: translateY(40px);
        }
        to{
                opacity: 1;
                transform: translateY(0);
        }
}
@keyframes fadeOut {
        from{
                opacity: 1;
                transform: translateY(0);
        }
        to{
                opacity: 0;
                transform: translateY(40px);
        }
}
/* Scrollbar CSS */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
@media (min-width: 570px) {
  .container {
    width: 540px;

  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;

  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;

  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;

  }
}
@media (min-width: 1400px) {
  .container {
    width: 1245px;

  }
}